<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21846158312-rr94lt3er7dkv627ojg4s6qb5bdqg508.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21846158312-rr94lt3er7dkv627ojg4s6qb5bdqg508</string>
	<key>API_KEY</key>
	<string>AIzaSyAIGRnwpbT68LoSp_D0LSn5Gm3n-aGQ1EM</string>
	<key>GCM_SENDER_ID</key>
	<string>21846158312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.disolutionsmx.litadesarrollos</string>
	<key>PROJECT_ID</key>
	<string>lita-261516</string>
	<key>STORAGE_BUCKET</key>
	<string>lita-261516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21846158312:ios:7c46ea49024613617b925d</string>
	<key>DATABASE_URL</key>
	<string>https://lita-261516.firebaseio.com</string>
</dict>
</plist>